###WE WILL BE ACQUIRING DATA USING AN API

There are many methods  of actually scrapping and acquiring data [BeautifulSoup],[Selenium] .actually this is a weather forecasting website "open weathermap".form this website we will use an api to actually acquire data such as the city name,temperature ,humidity,and main form of precipitation.

we will import all the necessary libraries

In [12]:
import requests
import json
import pandas as pd

we will then go to the webpage and actually get the api .After we get the api we then can input the list of the cities we 
actually want to get the data from

In [ ]:
api_key = "18890a1d8cfd1b3130af9ac578d2c1a5"
city_names = ["New York", "Paris", "Tokyo","London","Sydney","Beijing","Moscow","Dubai","Singapore","Toronto","Mumbai","Los Angeles",
             "San Fransisco","Rome","Miami","Barcelona","Berlin","Amsterdam","Vienna","Zurich"]

we will run the following code to actualy get all the related info we actually want to acquire

In [ ]:
for city_name in city_names:
    url = f"https://api.openweathermap.org/data/2.5/weather?q={city_name}&appid={api_key}&units=metric"

    response = requests.get(url)

    if response.status_code == 200:
        data = json.loads(response.text)
        temperature = data['main']['temp']
        humidity = data['main']['humidity']
        precipitation = data['weather'][0]['main']
        print(f" {city_name} : {temperature}Â°C.")
        print(f"{city_name} :{humidity}%.")
        print(f" {city_name} : {precipitation}.")

we will import pandas sice we want to actually create a dataframe which we can continue and work on our data

In [8]:
data = {'City': city_names, 'Temperature': temperature, 'Humidity': humidity, 'Precipitation': precipitation}

# Create a pandas dataframe from the dictionary
df = pd.DataFrame(data)

# Print the dataframe
print(df)

             City  Temperature  Humidity Precipitation
0        New York         7.29        93        Clouds
1           Paris         7.29        93        Clouds
2           Tokyo         7.29        93        Clouds
3          London         7.29        93        Clouds
4          Sydney         7.29        93        Clouds
5         Beijing         7.29        93        Clouds
6          Moscow         7.29        93        Clouds
7           Dubai         7.29        93        Clouds
8       Singapore         7.29        93        Clouds
9         Toronto         7.29        93        Clouds
10         Mumbai         7.29        93        Clouds
11    Los Angeles         7.29        93        Clouds
12  San Fransisco         7.29        93        Clouds
13           Rome         7.29        93        Clouds
14          Miami         7.29        93        Clouds
15      Barcelona         7.29        93        Clouds
16         Berlin         7.29        93        Clouds
17      Amsterdam         7.29        93        Clouds
18         Vienna         7.29        93        Clouds
19         Zurich         7.29        93        Clouds

In [9]:
df.head(20)

             City  Temperature  Humidity Precipitation
0        New York         7.29        93        Clouds
1           Paris         7.29        93        Clouds
2           Tokyo         7.29        93        Clouds
3          London         7.29        93        Clouds
4          Sydney         7.29        93        Clouds
5         Beijing         7.29        93        Clouds
6          Moscow         7.29        93        Clouds
7           Dubai         7.29        93        Clouds
8       Singapore         7.29        93        Clouds
9         Toronto         7.29        93        Clouds
10         Mumbai         7.29        93        Clouds
11    Los Angeles         7.29        93        Clouds
12  San Fransisco         7.29        93        Clouds
13           Rome         7.29        93        Clouds
14          Miami         7.29        93        Clouds
15      Barcelona         7.29        93        Clouds
16         Berlin         7.29        93        Clouds
17      Amsterdam         7.29        93        Clouds
18         Vienna         7.29        93        Clouds
19         Zurich         7.29        93        Clouds